TrabajoDetectivesco/Intermediate/
TrabajoDetectivesco/Saved/

TrabajoDetectivesco/Saved/Logs/Practica3.log
TrabajoDetectivesco/Saved/AutoScreenshot.png
TrabajoDetectivesco/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
TrabajoDetectivesco/Intermediate/ProjectFiles/.Rider/Win64/Development/Editor/UE5.json
TrabajoDetectivesco/Intermediate/ProjectFiles/.Rider/Win64/Development/Editor/UE5.json
