TrabajoDetectivesco/Intermediate/
TrabajoDetectivesco/Saved/

TrabajoDetectivesco/Saved/Logs/Practica3.log
TrabajoDetectivesco/Saved/AutoScreenshot.png
TrabajoDetectivesco/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
TrabajoDetectivesco/Intermediate/ProjectFiles/.Rider/Win64/Development/Editor/UE5.json
TrabajoDetectivesco/Intermediate/ProjectFiles/.Rider/Win64/Development/Editor/UE5.json
TrabajoDetectivesco/Saved/SourceControl/UncontrolledChangelists.json
TrabajoDetectivesco/Saved/AutoScreenshot.png
TrabajoDetectivesco/Saved/Config/CrashReportClient/UECC-Windows-887B688E466CB38E07D8248222565FC6/CrashReportClient.ini
TrabajoDetectivesco/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
TrabajoDetectivesco/Saved/Logs/Practica3.log
